<strong>Recuperação de senha</strong>

<p>Uma solicitação de recuperação de senha foi realizada para o e-mail {{email}}.</p>

<p>Para continuar com a recuperação de sua senha, use o token ou o link abaixo</p>

<p>{{token}}</p>

<a href="{{link}}">Criar nova senha</a>
